//// COLORS
//white-mode
$user-name-and-num-color: #2b3442;
$blue-details: #0079ff;
$body-text-color: #4b6a9b;
$logo-color: #222731;
$themes-text: #697c9a;
$themes-text-hover: #222731;
$background-color: #f6f8ff;
$container-background: #fefefe;
$container-shadow: rgba(70, 96, 187, 0.2);
$joined-date-color: #697c9a;
$pure-white: #fff;
$input-text-color: #222731;

// dark-mode
$body-text-color-dark: #fff;
$background-color-dark: #141d2f;
$container-background-dark: #1e2a47;
$themes-text-hover-dark: #90a4d4;
