.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  &__themes {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    background: transparent;
    cursor: pointer;

    &-text {
      margin-right: 16px;
    }

    &-logo {
    }
  }
}
