body {
  font-family: 'Space Mono', monospace;
  color: $body-text-color;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.header__logo {
  color: $logo-color;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;

  // &-dark {
  //   color: $body-text-color-dark;
  // }
}

.header__themes-text {
  color: $themes-text;
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  // &-dark {
  //   color: $body-text-color-dark;
  // }
}

.search__input {
  color: $input-text-color;
  font-size: 13px;
  line-height: 25px;

  &::placeholder {
    color: $body-text-color;
  }
  // &-dark {
  //   color: $body-text-color-dark;

  //   &::placeholder {
  //     color: $body-text-color-dark;
  //   }
  // }

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.search__no-results {
  color: #f74646;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}

.search__button {
  color: $pure-white;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.user__name {
  color: $user-name-and-num-color;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;

  // &-dark {
  //   color: $body-text-color-dark;
  // }

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.user__login {
  color: $blue-details;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.user__joied {
  color: $joined-date-color;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;

  // &-dark {
  //   color: $body-text-color-dark;
  // }

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.user__info-item-text {
  color: $body-text-color;
  color: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;

  @media (min-width: 768px) {
    font-size: 13px;
  }
}

.user__info-item-number {
  color: $user-name-and-num-color;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  // &-dark {
  //   color: inherit;
  // }

  @media (min-width: 768px) {
    font-size: 22px;
  }
}
.user__links-link {
  &:link,
  &:active,
  &:visited {
    color: inherit;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 15px;
    }
  }
  &:hover {
    text-decoration-line: underline;
  }
}

.user__links-text {
  color: inherit;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: auto;
  text-decoration-line: none;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}
