body {
  font-family: 'Space Mono', monospace;
  color: $body-text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

.header__logo {
  color: $logo-color;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

.header__themes-text {
  color: $themes-text;
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.user__name {
  color: $user-name-and-num-color;
  // font-size: 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.user__login {
  color: $blue-details;
  // font-size: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.user__joied {
  color: $joined-date-color;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.user__info-item-text {
  color: $body-text-color;
  // font-size: 13px;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
}

.user__info-item-number {
  color: $user-name-and-num-color;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.user__links-link {
  color: $body-text-color;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
